<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wp-travel-fse","tagName":"header","className":"site-header"} /-->

    <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"0","top":"var:preset|spacing|70"},"blockGap":"0"}},"layout":{"type":"default"}} -->
    <main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:query-title {"type":"archive","textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","right":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"fontSize":"x-large"} /-->
    
    <!-- wp:query {"queryId":0,"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list","columns":2},"layout":{"type":"constrained"}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"},"color":{"background":"#dedede"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-background" style="background-color:#dedede"><!-- wp:post-featured-image {"isLink":true} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-title {"level":3,"isLink":true,"fontSize":"large"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|30"}}},"fontSize":"small"} -->
    <p class="has-small-font-size" style="margin-right:var(--wp--preset--spacing--30)"><strong>On</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-date /-->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <p style="margin-right:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40)">|</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"style":{"spacing":{"margin":{"right":"var:preset|spacing|30"}}},"fontSize":"small"} -->
    <p class="has-small-font-size" style="margin-right:var(--wp--preset--spacing--30)"><strong>By</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-author {"showAvatar":false,"showBio":false} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-excerpt {"moreText":"Read more","fontSize":"small"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"20px"} -->
    <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"paginationArrow":"chevron","style":{"typography":{"lineHeight":"4.1"}},"layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small"} -->
    <!-- wp:query-pagination-previous {"label":"Previous","fontSize":"medium"} /-->
    
    <!-- wp:query-pagination-next {"label":"Next","fontSize":"medium"} /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70"},"margin":{"top":"var:preset|spacing|60"}}},"backgroundColor":"contrast","textColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-white-color has-contrast-background-color has-text-color has-background" style="margin-top:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">Search For More Articles</h2>
    <!-- /wp:heading -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","style":{"border":{"radius":"50px"}}} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"wp-travel-fse","tagName":"footer","className":"site-footer"} /--></div>
    <!-- /wp:group -->