<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wp-travel-fse","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:post-featured-image /--></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"border":{"width":"1px"}},"borderColor":"cyan-bluish-gray"} -->
<div class="wp-block-column has-border-color has-cyan-bluish-gray-border-color has-link-color" style="border-width:1px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"large"} /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"blockGap":"0"}}} -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"10px"}}},"textColor":"primary","layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-primary-color has-text-color has-extra-small-font-size" style="margin-bottom:10px"><!-- wp:wptravel/trip-sale /--></div>
<!-- /wp:group -->

<!-- wp:wptravel/trip-price /--></div>
<!-- /wp:column -->

<!-- wp:column {"fontSize":"extra-small"} -->
<div class="wp-block-column has-extra-small-font-size"><!-- wp:wptravel/trip-rating {"textAlign":"right"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"fontSize":"small"} /-->

<!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"},"margin":{"top":"30px","bottom":"30px"}}},"borderColor":"cyan-bluish-gray","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-cyan-bluish-gray-border-color" style="border-width:1px;margin-top:30px;margin-bottom:30px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Location</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-categories {"extraClass":"bed09756-deb9-4ff1-8531-cabad30c2aa0","tripTaxonomy":"travel_locations"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Trip Duration</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-duration-date {"extraClass":"dae40108-746f-439f-bdc6-95ed335f6b59"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Group Size</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/group-size /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Reviews</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-review /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Trip Type</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-categories {"extraClass":"bf473a71-9738-4b55-95db-8a8dffe26cc2"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Activities</strong></p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-categories {"extraClass":"374fdcad-7889-4454-a000-a5d110f95fd2","tripTaxonomy":"activity"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"textColor":"contrast","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-contrast-color has-text-color has-extra-small-font-size"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Trip Code :</strong> </p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-code {"extraClass":"1c219ec8-9088-4005-9cfd-5b118ab248fa"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"bottom":"30px"}}},"textColor":"contrast","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-contrast-color has-text-color has-extra-small-font-size" style="margin-bottom:30px"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><strong>Keywords :</strong> </p>
<!-- /wp:paragraph -->

<!-- wp:wptravel/trip-categories {"extraClass":"72ef0dea-2877-4f17-943e-39dcf179877b","tripTaxonomy":"travel_keywords"} /--></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"bright","width":50,"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50" id="trip-booking"><a class="wp-block-button__link has-bright-color has-primary-background-color has-text-color has-background wp-element-button" href="#booking" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">Book Now</a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"transparent","textColor":"contrast","width":50,"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}},"className":"is-style-outline"} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline" id="trip-enquiry"><a class="wp-block-button__link has-contrast-color has-transparent-background-color has-text-color has-background wp-element-button" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)" rel="">Enquiry</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:wptravel/trip-enquiry {"extraClass":"b00c9230-1c77-4f29-9879-0aabe4f67ff8"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group alignwide has-extra-small-font-size"><!-- wp:wptravel/tabs /-->

<!-- wp:group {"align":"wide","style":{"border":{"width":"1px"}},"borderColor":"cyan-bluish-gray","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-border-color has-cyan-bluish-gray-border-color" style="border-width:1px"><!-- wp:wptravel/map /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-travel-fse","tagName":"footer","className":"site-footer"} /--></div>
<!-- /wp:group -->